name: Python Package using Conda

on:
  push:
    branches: [master, main]
  pull_request:
    branches: [master, main]

jobs:
  build-linux:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 5

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: '3.10'
    - name: Add conda to system path
      run: |
        # $CONDA is an environment variable pointing to the root of the miniconda directory
        echo $CONDA/bin >> $GITHUB_PATH
    - name: Install dependencies
      run: |
        conda env update --file environment.yml --name base
    - name: Lint with flake8
      run: |
        conda install flake8
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
    - name: Test with pytest
      run: |
        conda install pytest
        pytest
    - name: Streamlit App Action
      uses: streamlit/streamlit-app-action@v0.0.3
      with:
        # Filepath to the main app file (`streamlit run <this>`)
        app-path: ./analysis/water/fetch_bern_county_water_data.py # optional, default is streamlit_app.py
        # Run ruff linting
        ruff: false # optional, default is false
        # Command line arguments to pass to pytest
        pytest-args: -v # optional, default is -v
        # Skip the provided smoke test. Useful if your app testing requires advanced setup.
        skip-smoke: false # optional, default is false